logicapp-workspace/ais-sample-logicapp/Artifacts/Schemas/S2_XML_output_SCHEMA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="employee">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string" />
        <xs:element name="position" type="xs:string" />
        <xs:element name="joinyear" type="xs:unsignedShort" />
        <xs:element name="salary" type="xs:unsignedShort" />
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>